@import url('./global.css');

#app {
    margin: 0 7.2rem;
}

.page-paragraph {
    color: var(--p-text-color);
    line-height: 3.6rem;
    font-size: var(--p-text-font-size);
    margin-top: 3rem;
    width: 50%;
}

.page-title {
    color: var(--h1-title-color);
    font-size: var(--h1-title-font-size);
    font-weight: var(--h1-title-font-weight);
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 17.2rem;
    font-size: 1.6rem;
}

#home h1 {
    color: var(--h1-title-color);
    font-size: var(--h1-title-font-size);
    font-weight: var(--h1-title-font-weight);
}
#home a {
    margin: 2.4rem 0;
    background-color: var(--btn-primary-color);
    border: var(--btn-primary-border);
    color: white;
    padding: 1.2rem 3.2rem;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: all .6s;

}

#home a:hover {
    transform: scale(1.3);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.151);
    animation: changeBorderColor 2s infinite;
}

#universe {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    margin: 8rem 0;
}

#explorer {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    margin: 8rem 0;
}

@keyframes changeBorderColor {
    0% {
        border: 2px solid red;
        color: black
    }

    50% {
        border: 2px solid green;
        color: grey

    }

    100% {
        border: 2px solid blue;
        color: white;

    }
}